@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.treeview .btnLogout {
    background: transparent;
    border: none;
    margin-left: 20px;
    padding: 15px 0px;
    font-size: 18px;
}

.flexBtnHeader {
    display: flex;
    align-items: center;
}

.flexBtnHeader .checkinBtn {
    border: none;
    background: #fff;
    color: #000;
}

.logout i {
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    padding: 10px 17px;
}

td.imgCircle {
    display: flex;
    align-items: center;
}

td.imgCircle img {
    border-radius: 100%;
    margin-right: 10px;
}

li.dropdown.user.user-menu {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.treeview.btnLogoutWrapRigth button i {
    color: #fff;
    font-size: 15px;
}

.btnLogoutWrapRigth button.btnLogout {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

li.dropdown.user.user-menu a.dropdown-toggle {
    display: flex;
    align-items: center;
}

li.dropdown.user.user-menu a.dropdown-toggle img {
    margin-right: 10px !important;
}

li.nav-item.checkinMain {
    list-style: none;
}

li.nav-item.checkinMain {
    list-style: none;
}
.main-header .logo {
    height: 53px
}

img.imgLoader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.leave-toggle {
    position: relative;
}


.popUpWrapper .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentcolor;
}

.popUpWrapper .modal {
    position: absolute;
    z-index: 10000;
    /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.popUpWrapper .modal.is-visible {
    visibility: visible;
}

.popUpWrapper .modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.popUpWrapper .modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.popUpWrapper .modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 6em;
    left: 50%;
    width: 32em;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.popUpWrapper .modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.popUpWrapper .modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.popUpWrapper .modal-header,
.modal-content {
    padding: 1em;
}

.popUpWrapper .modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;
}

.popUpWrapper .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
}

.popUpWrapper .modal-close:hover {
    color: #777;
}

.popUpWrapper .modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.popUpWrapper .modal-content>*:first-child {
    margin-top: 0;
}

.popUpWrapper .modal-content>*:last-child {
    margin-bottom: 0;
}
.p-relative{
    position: relative;
}
.users-list>li img{
    height: unset !important;
}
button.btn.btn-app.btnPdf i {
    font-size: 30px;
}
.btnGroup {
    display: flex;
}

.cstScroll.bg-green.py-4.px-3 {
    height: 400px;
    padding: 20px 15px;
    overflow-y: scroll;
}
.cstScroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cstScroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.cstScroll::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.cstScroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.noticeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.pagination {
    justify-content: center;
}











